parameters:
	level: 6
	fileExtensions:
		- php
	ignoreErrors:
		- '#Call to static method info\(\) on an unknown class Log.#'
		- '#Function config not found.#'
		- '#.+ extends unknown class Illuminate\Console\Command.#'
